@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.schedule {
    margin-top: -1px;
    padding: 140px 0 275px;
    background-color: $black-background;

    &__buttons {
        position: relative;
        margin-top: 40px;
        display: flex;

        &::before {
            content: "";
            position: absolute;
            background-color: $dark-yellow;
            height: 2px;
            width: 100%;
        }
    }

    &__btn {
        text-transform: capitalize;
    }

    &__swiper {
        position: relative;
        margin-top: 101px;
    }

    &__card {
        position: relative;
        border-radius: 10px;
        width: 350px;
        height: 341px;
        background-color: $black-gray;
        transition: box-shadow 0.3s ease;
        padding: 47px 35px;

        &-content {
            position: relative;
            width: 100%;
            height: auto;
            transition: filter 0.3s ease; // Добавляем transition для плавного затемнения/осветления
            filter: brightness(1); // По умолчанию все блоки контента яркие
        }

        &-title {
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.01em;
            text-align: left;
            color: $light;

            &::after {
                content: "";
                position: absolute;
                top: 33px;
                left: 0;
                background-color: $dark-yellow;
                height: 2px;
                width: 100%;
            }
        }
    }

    &__info {
        margin-top: 22px;
    }

    &__icon {
        margin-top: 32px;
        width: 50px;
        height: 50px;
    }

    &__details {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        color: $light;
        font-weight: 700;
    }

    &__groups {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 175%;
    }

    &__match {
        margin: 20px 8px 20px 0;
        border: 1px solid $dark-yellow;
        padding: 5px 10px;
        width: 98px;
        height: 30px;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        word-break: break-word;
    }

    &__map {
        margin-top: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.01em;
        text-align: left;
        color: $silver;
    }

    &__watch {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        padding: 10px 20px;
        border-radius: 5px;
        width: 166px;
        height: 40px;
        background: $dark-yellow;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: $light;

        visibility: hidden;
        opacity: 0;
        z-index: 10;


        &-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("/src/icons/play.png") center / contain no-repeat;
        }
    }

    .swiper {
        padding: 15px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;

        &-active {
            .schedule__card {
                box-shadow: 0 0 15px rgba(255, 204, 0, 0.7),
                    0 0 30px rgba(255, 204, 0, 0.3);

            }

            .schedule__card-content {
                filter: brightness(0.4);
            }

            .schedule__watch {
                opacity: 1;
                visibility: visible;
                z-index: 100;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }
        }
    }

    &__nav {

        display: flex;
        justify-content: space-between;
        position: relative;
        width: 439px;
        margin: 46px auto 0 auto;

        .swiper-pagination {
            bottom: 23px;
        }

        .swiper-pagination-bullet {
            background-color: $black-gray;
            width: 15px;
            height: 15px;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin-right: 18px;

        }

        .swiper-pagination-bullet-active {
            background-color: $dark-yellow;
        }

        &-btn {
            width: 85px;
            height: 85px;
            border: 2px solid $dark-yellow;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;


            .swiper-button-prev {
                position: static;
                background: url("/src/icons/prev.svg") center / contain no-repeat;
                width: 45px;
                height: 16px;

                &::after {
                    content: "";
                }
            }

            .swiper-button-next {
                position: static;
                background: url("/src/icons/next.svg") center / contain no-repeat;
                width: 45px;
                height: 16px;

                &::after {
                    content: "";
                }
            }
        }
    }
}

// ≥1600px
@include respond(xl) {
    .schedule {
        &__card {
            width: 320px;
            height: 320px;
            padding: 40px 30px;
        }

        &__watch {
            width: 150px;
            height: 40px;
            font-size: 13px;
        }

        &__nav {
            width: 400px;

            &-btn {
                width: 75px;
                height: 75px;
            }
        }
    }
}

// ≥1400px
@include respond(lg) {
    .schedule {
        padding: 120px 0 220px;

        &__card {
            width: 300px;
            height: 300px;
            padding: 36px 28px;
        }

        &__groups {
            font-size: 18px;
        }

        &__match {
            width: 98px;
            font-size: 13px;
        }

        &__nav {
            width: 360px;
        }

        &__swiper {
            margin-top: 80px;
        }
    }
}

// ≥1024x
@include respond(md) {
    .schedule {
        padding: 100px 0 180px;

        &__card {
            width: 260px;
            height: 280px;
            padding: 30px 24px;
        }

        &__groups {
            font-size: 16px;
        }

        &__match {
            font-size: 12px;
            padding: 4px 8px;
        }

        &__nav {
            margin-top: 40px;
        }
    }
}

// ≥768px
@include respond(sm) {
    .schedule {
        padding: 80px 0 120px;

        &__card {
            width: 220px;
            height: 260px;
            padding: 24px 20px;
        }

        &__groups {
            font-size: 15px;
        }

        &__match {
            padding: 4px 8px;
        }

        &__icon {
            width: 40px;
            height: 40px;
        }

        &__swiper {
            margin-top: 60px;
        }

        &__nav {
            margin-top: 30px;
            height: 75px;

            &-btn {
                display: none;
            }

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
            }
        }
    }
}

// ≥480px
@include respond(xs) {
    .schedule {
        padding: 60px 0 80px;

        &__card {
            width: 90%;
            height: auto;
            padding: 20px 16px;
        }

        &__groups {
            font-size: 14px;
        }

        &__match {
            font-size: 10px;
            padding: 3px 6px;
            width: 50%;
            text-align: center;
        }

        &__icon {
            width: 36px;
            height: 36px;
        }

        &__watch {
            width: 50%;
            height: 36px;
            font-size: 13px;
        }

        &__swiper {
            margin-top: 50px;
        }

        &__nav {
            margin-top: 24px;
            height: 60px;
        }

        .swiper-pagination {
            bottom: 10px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }
}