@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.btn {
    display: inline-block;
    border: 2px solid $dark-yellow;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: $light;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        background: $dark-yellow;
        color: $dark;
    }
}

@include respond(sm) {
    .btn {
        font-size: 14px;
        padding: 10px 16px;
        border-radius: 6px;
    }
}