@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.title-h1 {
    @include title;
    font-size: clamp(36px, 5vw, 60px);
    line-height: 1.2;
}

.title-h2 {
    @include title;
    font-size: 32px;
    line-height: 132%;
}